:root{
    background-image:url(bgLogin.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100px;
    height: 1000px;
  }
  
  .main-bg {
    background: var(--main-bg) !important;
    

  }
  
  input:focus, button:focus {
    border: 1px solid var(--main-bg) !important;
    box-shadow: none !important;
  }
  
  .form-check-input:checked {
    background-color: var(--main-bg) !important;
    border-color: var(--main-bg) !important;
  }
  
  .card, .btn, input{
    border-radius:0 !important;
  }

  .login{
        /* Sign In */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 35px;
    gap: 30px;
    position: absolute;
    width: 574px;
    height: 704px;
    left: 750px;
    top: 150px;

    background: #FFFFFF;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  .logo{
    background-image: url("logo.png");
    position: absolute;
    width: 579px;
    height: 131px;
    left: 83px;
    top: 401px;

  }
  .form{
    
        width: 400px; /* Atur lebar form */
        height: 2004px; /* Atur tinggi form */
  }

  .underline-text {
    text-decoration: underline;
    text-decoration-color: blue; /* mengatur warna garis bawah */
    text-decoration-style: dotted; /* mengatur gaya garis bawah */
    color: blue;
  }

  .primary-button {
    background-color: blue !important;
    border-radius: 20%;
  }
  